{{!
    Copyright 2016-2020 Andres Almiray

    This file is part of Java Trove Examples

    Java Trove Examples is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Java Trove Examples is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Java Trove Examples. If not, see <http://www.gnu.org/licenses/>.
}}
<form action="/todos" method="post">
    <input type="text" id="description" name="description" size="100"/> <input type="submit" value="Create"/>
</form>

<form>
    <table id="todo-table" width="100">
        <thead>
        <tr>
            <th width="90">Todo</th>
            <th>Done</th>
        </tr>
        </thead>
        <tbody>
        {{#todos}}
            <tr id="todo-{{id}}">
                <td id="todo-{{id}}-description">{{description}}</td>
                <td><input id="todo-{{id}}-done" type="checkbox" value="{{id}}" {{#checker}}{{done}}{{/checker}}/></td>
            </tr>
        {{/todos}}
        </tbody>
    </table>
</form>
